
date__container {
  color: blue;
  font-size: 120%;
  font-weight: bold;
}

#Review-info2 {
  color: blue;
  font-size: 120%;
  font-weight: bold;
}

#Review-info3 {
  color: blue;
  font-size: 120%;
  font-weight: bold;
}

#Review-info4 {
  color: blue;
  font-size: 120%;
  font-weight: bold;
}
